p {
    padding: 20px 30px;
    background-color: rgb(242, 242, 100);
    border: 5px solid black;
    margin: 30px 30px;
}
div {
    background-color: rgb(173, 173, 224);
    border:2px dotted black ;
}